<br>
<div class="container">
  <div class="navbar navbar-default">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/sightings/region/">View sightings by region</a></li>
      <li><a href="/species/new/">New Species</a></li>
      <li class="active"><a href="/sightings/dates">View sightings by date range</a></li>
    </ul>
  </div>
</div>

  <h1>View Sightings By Date Range</h1>



<div class="form-group">
<form action="/sightings/index" method="get">
  <label class="control-label" for="start_date">Start Date</label>
  <input class="form-control" id="start_date" name="start_date" type="text">

  <label class="control-label" for="end_date">End Date</label>
  <input class="form-control" id="end_date" name="end_date" type="text">
  <br>

  <button class="btn btn-primary">View Sightings</button>
  </form>
</div>


</div>

</div>
</div>
