<br>
<div class="container">
  <div class="navbar navbar-default">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/sightings/region/">View sightings by region</a></li>
      <li><a href="/species/new/">New Species</a></li>
      <li><a href="/sightings/dates">View sightings by date range</a></li>
    </ul>
  </div>
</div>

<h1 class="jumbotron">Sighting Destroyed</h1>


</div>
