<h1>Species</h1>

<ul>
  <% @species.each do |animal| %>
    <li><a href="/species/<%= animal.id %>"><%= animal.name %></li>
  <% end %>
</ul>

<p><a href="/species/new/">Create a new species</p>
<p><a href="/sightings/region/">View sightings by region</p>
