<br>
<div class="container">
  <div class="navbar navbar-default">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/sightings/region/">View sightings by region</a></li>
      <li class="active"><a href="/species/new/">New Species</a></li>
      <li><a href="/sightings/dates">View sightings by date range</a></li>
    </ul>
  </div>
</div>

<h1>New Species</h1>

  <% if @species.errors.any? %>
    <h3>Please fix these errors:</h3>
    <ul>
    <% @species.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
</ul>
  <% end %>

<div class="form-group">
<form action="." method="post">
  <label class="control-label" for="species_name">Name</label>
  <input class="form-control" id="species_name" name="name" type="text" value="<%= @species.name %>">
  <br>
  <button class="btn btn-primary">Create Species</button>
</form>
</div>


</div>
